/* line 1, ../sass/modules/_settings.scss */
body {
  background-color: #f2f2f2;
  padding-top: 50px;
}
/* line 4, ../sass/modules/_settings.scss */
body .navbar {
  background-color: #FFFFFF;
  border-color: #e5e5e5;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
}
/* line 9, ../sass/modules/_settings.scss */
body .navbar li a {
  color: #14213d;
}
/* line 12, ../sass/modules/_settings.scss */
body .navbar li a:hover {
  color: #FFFFFF;
  background-color: #FFBE00;
}
/* line 19, ../sass/modules/_settings.scss */
body .navbar li:active a {
  color: #FFFFFF;
}
/* line 27, ../sass/modules/_settings.scss */
body svg #G1 path {
  fill: #14213d;
}
/* line 30, ../sass/modules/_settings.scss */
body svg #G2 path {
  fill: #ffbe00;
}
/* line 34, ../sass/modules/_settings.scss */
body svg:hover #G1 path {
  fill: #ffbe00;
}
/* line 37, ../sass/modules/_settings.scss */
body svg:hover #G2 path {
  fill: #14213d;
}
/* line 42, ../sass/modules/_settings.scss */
body a {
  color: #FFBE00;
  cursor: pointer;
}
/* line 45, ../sass/modules/_settings.scss */
body a:hover {
  text-decoration: none;
  color: #14213d;
}
/* line 50, ../sass/modules/_settings.scss */
body p {
  color: #14213d;
}
/* line 53, ../sass/modules/_settings.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #000000;
}

/* line 2, ../sass/modules/_navbar.scss */
.navbar .icon-bar {
  background-color: #14213d;
}
/* line 5, ../sass/modules/_navbar.scss */
.navbar .navbar-brand {
  max-width: 200px;
  margin-top: -5px;
}
/* line 8, ../sass/modules/_navbar.scss */
.navbar .navbar-brand #Logo {
  width: 100%;
}
/* line 12, ../sass/modules/_navbar.scss */
.navbar #search {
  text-align: center;
}
/* line 14, ../sass/modules/_navbar.scss */
.navbar #search .form-control {
  width: 500px;
}

@media (max-width: 933px) {
  /* line 23, ../sass/modules/_navbar.scss */
  .navbar #search .form-control {
    width: 300px;
  }
}
@media (max-width: 790px) {
  /* line 33, ../sass/modules/_navbar.scss */
  .navbar #search .form-control {
    width: 100%;
  }
}
/* line 1, ../sass/modules/_auth.scss */
.container-flex {
  background-image: url(/./assets/website_images/backgrounds/evolve_2015.jpg);
  background-size: cover;
  background-position: center;
}
/* line 5, ../sass/modules/_auth.scss */
.container-flex .centerXY {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 10, ../sass/modules/_auth.scss */
.container-flex .centerXY .tranparentContainer {
  width: 100%;
  max-width: 600px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0 25px, rgba(229, 229, 229, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0 25px, rgba(229, 229, 229, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 25px, rgba(229, 229, 229, 0.2) 0 0 3px 1px inset;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 17, ../sass/modules/_auth.scss */
.container-flex .centerXY .tranparentContainer svg {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

/* line 27, ../sass/modules/_auth.scss */
.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}
/* line 32, ../sass/modules/_auth.scss */
.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #E6E6E6;
}
/* line 38, ../sass/modules/_auth.scss */
.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

@media (max-width: 992px) {
  /* line 48, ../sass/modules/_auth.scss */
  .form-group .row a {
    margin-bottom: 5px;
  }
}
@media (max-width: 650px) {
  /* line 56, ../sass/modules/_auth.scss */
  .container-flex {
    background: none;
    background-color: #e5e5e5;
  }
  /* line 60, ../sass/modules/_auth.scss */
  .container-flex .centerXY .tranparentContainer {
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }

  /* line 68, ../sass/modules/_auth.scss */
  .signup-or-separator .text {
    background-color: #e5e5e5;
  }
}
