/* line 2, ../sass/modules/_settings.scss */
body {
  background-color: #f2f2f2;
  padding-top: 50px;
  height: 100%;
}
/* line 6, ../sass/modules/_settings.scss */
body .navbar {
  background-color: #FFFFFF;
  border-color: #e5e5e5;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
}
/* line 11, ../sass/modules/_settings.scss */
body .navbar li a {
  color: #14213d;
}
/* line 14, ../sass/modules/_settings.scss */
body .navbar li a:hover {
  color: #FFFFFF;
  background-color: #FFBE00;
}
/* line 21, ../sass/modules/_settings.scss */
body .navbar li:active a {
  color: #FFFFFF;
}
/* line 29, ../sass/modules/_settings.scss */
body svg #G1 path {
  fill: #14213d;
}
/* line 32, ../sass/modules/_settings.scss */
body svg #G2 path {
  fill: #ffbe00;
}
/* line 36, ../sass/modules/_settings.scss */
body svg:hover #G1 path {
  fill: #ffbe00;
}
/* line 39, ../sass/modules/_settings.scss */
body svg:hover #G2 path {
  fill: #14213d;
}
/* line 44, ../sass/modules/_settings.scss */
body a {
  color: #FFBE00;
  cursor: pointer;
}
/* line 47, ../sass/modules/_settings.scss */
body a:hover {
  text-decoration: none;
  color: #14213d;
}
/* line 52, ../sass/modules/_settings.scss */
body p {
  color: #14213d;
}
/* line 55, ../sass/modules/_settings.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #000000;
}

/* line 2, ../sass/modules/_navbar.scss */
.navbar .navbar-toggle {
  padding: 13px 15px;
}
/* line 4, ../sass/modules/_navbar.scss */
.navbar .navbar-toggle .icon-bar, .navbar .navbar-toggle .icon-bar:before, .navbar .navbar-toggle .icon-bar:after {
  content: "";
  display: block;
  height: 2px;
  background: #14213d;
  position: relative;
  transition: all 0.3s ease-in-out;
}
/* line 12, ../sass/modules/_navbar.scss */
.navbar .navbar-toggle .icon-bar:before {
  top: 9px;
}
/* line 15, ../sass/modules/_navbar.scss */
.navbar .navbar-toggle .icon-bar:after {
  top: -11px;
}
/* line 18, ../sass/modules/_navbar.scss */
.navbar .navbar-toggle:not(.collapsed) .icon-bar {
  background: transparent;
}
/* line 21, ../sass/modules/_navbar.scss */
.navbar .navbar-toggle:not(.collapsed) .icon-bar:before, .navbar .navbar-toggle:not(.collapsed) .icon-bar:after {
  transform-origin: center;
  transform: rotate(45deg);
  top: 0;
}
/* line 26, ../sass/modules/_navbar.scss */
.navbar .navbar-toggle:not(.collapsed) .icon-bar:after {
  top: -2px;
  transform: rotate(-45deg);
}
/* line 32, ../sass/modules/_navbar.scss */
.navbar .navbar-brand {
  max-width: 200px;
  margin-top: -5px;
}
/* line 35, ../sass/modules/_navbar.scss */
.navbar .navbar-brand #Logo {
  width: 100%;
}
/* line 39, ../sass/modules/_navbar.scss */
.navbar #search {
  text-align: center;
}
/* line 41, ../sass/modules/_navbar.scss */
.navbar #search .form-control {
  width: 500px;
}

@media (max-width: 933px) {
  /* line 50, ../sass/modules/_navbar.scss */
  .navbar #search .form-control {
    width: 300px;
  }
}
@media (max-width: 790px) {
  /* line 60, ../sass/modules/_navbar.scss */
  .navbar #search .form-control {
    width: 100%;
  }
}
/* line 1, ../sass/modules/_footer.scss */
.footer-distributed {
  background-color: #FFFFFF;
  border-color: #e5e5e5;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 30px 50px;
}
/* line 9, ../sass/modules/_footer.scss */
.footer-distributed .footer-left {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
/* line 14, ../sass/modules/_footer.scss */
.footer-distributed .footer-left span svg {
  max-width: 400px;
  width: 100%;
}
/* line 20, ../sass/modules/_footer.scss */
.footer-distributed .footer-center {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}
/* line 24, ../sass/modules/_footer.scss */
.footer-distributed .footer-center i {
  color: #14213d;
  font-size: 30px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
/* line 33, ../sass/modules/_footer.scss */
.footer-distributed .footer-center i.fa-envelope {
  font-size: 25px;
  line-height: 38px;
}
/* line 38, ../sass/modules/_footer.scss */
.footer-distributed .footer-center p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
/* line 42, ../sass/modules/_footer.scss */
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
/* line 50, ../sass/modules/_footer.scss */
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
/* line 55, ../sass/modules/_footer.scss */
.footer-distributed h3 {
  font-size: 36px;
  margin: 0;
}
/* line 59, ../sass/modules/_footer.scss */
.footer-distributed h3 span {
  color: #14213d;
}
/* line 63, ../sass/modules/_footer.scss */
.footer-distributed .footer-links {
  margin: 20px 0 12px;
  padding: 0;
}
/* line 67, ../sass/modules/_footer.scss */
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  color: inherit;
}
/* line 73, ../sass/modules/_footer.scss */
.footer-distributed .footer-company-name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* line 78, ../sass/modules/_footer.scss */
.footer-distributed .footer-company-about {
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
/* line 83, ../sass/modules/_footer.scss */
.footer-distributed .footer-company-about span {
  display: block;
  color: #14213d;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 91, ../sass/modules/_footer.scss */
.footer-distributed .footer-icons {
  margin-top: 25px;
}
/* line 93, ../sass/modules/_footer.scss */
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 30px;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  /* line 108, ../sass/modules/_footer.scss */
  .footer-distributed {
    font: bold 14px;
  }
  /* line 110, ../sass/modules/_footer.scss */
  .footer-distributed .footer-left {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  /* line 116, ../sass/modules/_footer.scss */
  .footer-distributed .footer-center {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  /* line 121, ../sass/modules/_footer.scss */
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  /* line 125, ../sass/modules/_footer.scss */
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
/* line 1, ../sass/modules/_auth.scss */
.container-flex {
  background-image: url(/./assets/website_images/backgrounds/evolve_2015.jpg);
  background-size: cover;
  background-position: center;
}
/* line 5, ../sass/modules/_auth.scss */
.container-flex .centerXY {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 10, ../sass/modules/_auth.scss */
.container-flex .centerXY .tranparentContainer {
  width: 100%;
  max-width: 600px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0 25px, rgba(229, 229, 229, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0 25px, rgba(229, 229, 229, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 25px, rgba(229, 229, 229, 0.2) 0 0 3px 1px inset;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 17, ../sass/modules/_auth.scss */
.container-flex .centerXY .tranparentContainer svg {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

/* line 27, ../sass/modules/_auth.scss */
.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}
/* line 32, ../sass/modules/_auth.scss */
.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #E6E6E6;
}
/* line 38, ../sass/modules/_auth.scss */
.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

@media (max-width: 992px) {
  /* line 48, ../sass/modules/_auth.scss */
  .form-group .row a {
    margin-bottom: 5px;
  }
}
@media (max-width: 650px) {
  /* line 56, ../sass/modules/_auth.scss */
  .container-flex {
    background: none;
    background-color: #e5e5e5;
  }
  /* line 60, ../sass/modules/_auth.scss */
  .container-flex .centerXY .tranparentContainer {
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }

  /* line 68, ../sass/modules/_auth.scss */
  .signup-or-separator .text {
    background-color: #e5e5e5;
  }
}
