include mixins


doctype
html(ng-app="meanShoppingApp")
	head
		meta(charset="UTF-8")
		meta(name="description" content="Mean Shopping App")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="keywords" content="")
		meta(name="author" content="Clinton D/'souza")
		title MEAN Shopping Demo

		//- Stylesheets
		link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='../bower_components/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet' href='../bower_components/bootstrap-social/bootstrap-social.css')
		link(rel='stylesheet' href='../bower_components/angular-toastr/dist/angular-toastr.min.css')
		link(rel='stylesheet' href='css/styles.css')

		//- Uncomment in Production
		//- link(rel='stylesheet' href='css/styles.min.css')
		//- link(rel='stylesheet' href='css/vendor.css')
		//- base(href="/")

	body
		header
			nav.navbar.navbar-fixed-top
				.container-fluid
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#mobile-navbar-collapse', aria-expanded='false')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#')
							+logoSVG()


					//- Collect the nav links, forms, and other content for toggling
					#mobile-navbar-collapse.collapse.navbar-collapse
						//- ul.nav.navbar-nav
						//- 	li.active
						//- 		a(href='#') Link
						//- 	li
						//- 		a(href='#') Link
						
						span(ng-controller='authenticationController')
							ul.nav.navbar-nav.navbar-right(ng-hide="isAuthenticated()")
								li
									a(data-toggle="modal" data-target="#Login") Log In
								li
									a(data-toggle="modal" data-target="#SignUp") Sign Up

							ul.nav.navbar-nav.navbar-right(ng-show="isAuthenticated()")
								li.dropdown
									a.dropdown-toggle(data-toggle="dropdown") Hi {{username}} #{' '}
										span.caret
									ul.dropdown-menu
										li
											a() Orders
										li
											a() Accout Settings
										li.divider
										li
											a(ng-click='logout()') Log Out

						form.navbar-form#search(role='search')
							.form-group
								input.form-control(type='text', placeholder='Search')
							//- button.btn.btn-default(type='submit')
							//- 	span(class="glyphicon glyphicon-search")
									

		span(ng-controller='authenticationController')
			.modal.fade#SignUp( tabindex="-1")
								.modal-dialog
									.modal-content
										form(angular-validator-submit="signUp(signup)" name="signUpForm" novalidate angular-validator)
											.modal-header
												button(type="button" class="close" data-dismiss="modal")
													span &times;
												h4 Sign Up For Free
											.modal-body
												
													h4 Please enter your following details
													.form-group
														label( control-label for='username') Name
														input.form-control(type='text', name='username', validate-on='dirty', ng-model='signup.username', ng-pattern='/^[A-z ]+$/', invalid-message="'Enter a valid Name'", required-message="'Name is required'", required)
													.form-group
														label( control-label for='phone_number') Phone Number
														input.form-control(type='text', name='phone_number', validate-on='dirty', ng-model='signup.phone_number', ng-pattern='/^[0-9]+$/', invalid-message="'Enter a valid phone number'", required-message="'Phone number is required'", required)
													.form-group
														label( control-label for='email_id') Email ID
														input.form-control(type='email', name='email_id', validate-on='dirty', ng-model='signup.email_id', invalid-message="'Enter a valid Email ID'", required-message="'Email ID is required'", required)
													.form-group
														label( control-label for='password') Password
														input.form-control(type='password', name='password', validate-on='dirty', ng-model='signup.password', validator = "passwordValidator(signup.password) === true",invalid-message = "passwordValidator(signup.password)", required)
													.form-group
														label( control-label for='confirmPassword') Confirm Password
														input.form-control(type='password', name='confirmPassword', validate-on='dirty', ng-model='signup.confirmPassword',validator = "signup.password === signup.confirmPassword",
													invalid-message = "'Passwords do not match!'", required)
													
								
													.form-group
														button(type='submit',ng-disabled='signUpForm.$invalid' class="btn btn-primary btn-lg btn-block") Sign Up

			.modal.fade#Login( tabindex="-1")
					.modal-dialog
						.modal-content
							form(angular-validator-submit="logIn(login)" name="loginForm" novalidate angular-validator)
								.modal-header
									button(type="button" class="close" data-dismiss="modal")
										span &times;
									h4 Login
								.modal-body
											h4 Please enter your login details
											.form-group
												label( control-label for='email_id') Email ID
												input.form-control(type='email', name='email_id', validate-on='dirty', ng-model='login.email_id',invalid-message="'Enter a valid Email ID'", required-message="'Email ID is required'", required)
											.form-group
												label( control-label for='password') Password
												input.form-control(type='password', name='password', validate-on='dirty', ng-model='login.password', required-message="'Password is required'", required)
											.form-group
												button(type='submit',ng-disabled='loginForm.$invalid' class="btn btn-primary btn-lg btn-block") Login
											.form-group
												.signup-or-separator
													h6.text(style="background-color:white") or
													hr
											.form-group
												.row
													.col-md-6
														a.btn.btn-block.btn-social.btn-facebook(ng-click="authenticate('facebook')")
															span.fa.fa-facebook
															|Sign in with Facebook
													.col-md-6
														a.btn.btn-block.btn-social.btn-google(ng-click="authenticate('google')")
															span.fa.fa-google
															|Sign in with Google

					
		main
			ui-view

		
		
		footer
	
		script(src="../bower_components/holderjs/holder.min.js")
		script(src="../bower_components/modernizr/bin/modernizr")
		script(src="../bower_components/jquery/dist/jquery.min.js")
		script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src="../bower_components/angular/angular.min.js")
		script(src="../bower_components/angular-ui-router/release/angular-ui-router.min.js")
		script(src="../bower_components/tg-angular-validator/dist/angular-validator.min.js")
		script(src="../bower_components/satellizer/satellizer.min.js")
		script(src='../bower_components/angular-md5/angular-md5.min.js')
		script(src='../bower_components/ngstorage/ngStorage.min.js')
		script(src='../bower_components/moment/min/moment.min.js')
		script(src='../bower_components/underscore/underscore-min.js')
		script(src='../bower_components/angular-animate/angular-animate.min.js')
		script(src='../bower_components/angular-toastr/dist/angular-toastr.tpls.min.js')

		script(src="js/main.js")


		//- Uncomment in Production
		//- script(src="js/main.min.js")
		//- script(src="js/vendor.js")