.container-flex {
    .centerXY {
        height: 100vh;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        .form-group {
            width: 600px
        }
    }
    form {
        svg {
            max-width: 500px;
            width: 100%;
        }
    }
}

.signup-or-separator {
    position: relative;
    height: 34px;
    text-align: center;
    background: none;
    .text {
        display: inline-block;
        padding: 8px;
        margin: 0;
        background-color: lighten($shadow,5%);
    }
    hr {
        width: 90%;
        margin: -16px auto 10px auto;
        border-top: 1px solid #dce0e0;
    }
}
@media(max-width: 650px) {
    .container-flex {
        form {
            svg {
                width: 100%
            }
        }
        .centerXY {
            .form-group {
                width: 100%;
            }
        }
    }
}
@media(max-width: 992px) {
    .form-group{
    	.row{
    		a{
    			margin-bottom: 5px
    		}
    	}
    }
}