.container-flex{
	.centerXY {
		height: 100vh;
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
		@include flex-direction(column);
		.form-group {
			width: 600px
		}
	}
	form{
		svg{
			max-width: 500px;
			width:100%;
		}
	}
}

@media(max-width: 650px) {
	
	.container-flex {
		form{
			svg{
				width:100%
			}
		}
		.centerXY {
			.form-group {
				width: 100%;
			}
		}
	}
}
