.container {
    .centerXY {
        height: 100vh;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        .form-group {
            width: 600px
        }
    }
}

@media(max-width: 650px) {
    .container {
        .centerXY {
            height: 100vh;
            @include display(block);
            .form-group {
                width: 100%;
            }
        }
    }
}
