body {
    padding-top: 50px;
    svg {
        #G1 path {
            fill: rgba(#263248, 1);
        }
        #G2 path {
            fill: rgba(#FFBE00, 1);
        }
    }
    a {
        cursor: pointer
    }
}
