include ../mixins
.auth
	.container-flex

		div(ng-if='recovery_screen == false')
			.centerXY(ng-hide='forgotPassword')
				.tranparentContainer 
					form.col-xs-12(angular-validator-submit="logIn(login)" name="loginFormPage" novalidate angular-validator)
						+logoSVG()
						h1 {{header}}

						.form-group
							label( control-label for='loginmail_id') Email ID
							input.form-control(type='email', name='loginmail_id', validate-on='dirty', ng-model='login.email_id',invalid-message="'Enter a valid Email ID'", required-message="'Email ID is required'", required)
						.form-group
							label( control-label for='loginpassword') Password
							input.form-control(type='password', name='loginpassword', validate-on='dirty', ng-model='login.password', required-message="'Password is required'", required)
						.form-group
							button(type='submit',ng-disabled='loginFormPage.$invalid' class="btn btn-primary btn-lg btn-block") Login
						.form-group
							a.text-right(ng-click='toggleForgotPass()') Recover Password

						.form-group
							.signup-or-separator
								h6.text or
								hr
						.form-group
							.row
								.col-md-6
									a.btn.btn-block.btn-social.btn-facebook(ng-click="authenticate('facebook')")
										span.fa.fa-facebook
										|Sign in with Facebook
								.col-md-6
									a.btn.btn-block.btn-social.btn-google(ng-click="authenticate('google')")
										span.fa.fa-google
										|Sign in with Google
						
			.centerXY(ng-show='forgotPassword')
				.tranparentContainer 
					form.col-xs-12(angular-validator-submit="recoverPassword(recover)" name="recoveryFormPage" novalidate angular-validator)
							
						+logoSVG()
						h1 {{header}}

						.form-group
							label( control-label for='recoveremail_id') Email ID
							input.form-control(type='email', name='recoveremail_id', validate-on='dirty', ng-model='recover.email_id',invalid-message="'Enter a valid Email ID'", required-message="'Email ID is required'", required)
						.form-group
							button(type='submit',ng-disabled='recoveryFormPage.$invalid' class="btn btn-primary btn-lg btn-block") Recover Password
						.form-group
							a.text-right(ng-click='toggleForgotPass()') Go Back

		div(ng-if='recovery_screen==true')
			.centerXY
				.tranparentContainer 
					form.col-xs-12(angular-validator-submit="updatePassword(updatePass)" name="updatePasswordPage" novalidate angular-validator)
				
						+logoSVG()
						h1 {{header}}

						.form-group
							label( control-label for='updatepassword') New Password
							input.form-control(type='password', name='updatepassword', validate-on='dirty', ng-model='updatePass.password', validator = "passwordValidator(updatePass.password) === true",invalid-message = "passwordValidator(updatePass.password)", required)
						.form-group
							label( control-label for='updateconfirmPassword') Confirm Password
							input.form-control(type='password', name='updateconfirmPassword', validate-on='dirty', ng-model='updatePass.confirmPassword',validator = "updatePass.password === updatePass.confirmPassword",invalid-message = "'Passwords do not match!'", required)
						.form-group
								button(type='submit',ng-disabled='updatePasswordPage.$invalid' class="btn btn-primary btn-lg btn-block") Update Password


